body{
	font-family: Arial, monospace;
	text-align: center;
}
#title{
	color: #87CEEB;
}
profile-img{
	width: 100px;
	height: 100px;
	margin:30px auto;
	box-shadow: 0 0 5px rgba(0,0,1,0,3);
	border-radius: 40%;
}
#Caption{
	color: black;
}
#content{
	padding: 25px;
	margin: 30px auto;
	boder-radius: 15px;
	background-color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
